.header{
    background-color:rgb(217, 223, 223);
    float:inherit;
    text-align:left;
    margin:50px;
    height: 900px;
}
.header>h1,h2,p{
    margin-left: 170px;
}
span{
    color: orange;
}
.header>p{
    float:left;
    text-align:left;
    font-size: 20px;
}
.header>button{
    margin-left: 200px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
ul{
    list-style-type:none;
    margin-left: 150px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
 
 }
 li{
     float: left;
     text-align: center;
     padding: 15px;
     
 }
 li a{
     color: black;
     padding: 10px;
     text-align: left;
     display: inline-block;
     text-decoration: none;
 
     }
     #logo{
         width: 70px;
         height: 70px;
     }
     .ecl{
        background-color: #649549;
        border-bottom-left-radius: 900%;
        border-bottom-right-radius: 50%;
        position: absolute;
        height: 75%;
        width: 60%;
        right: 50px;
        top: 52px;
        overflow: hidden;
            }
      .eclipse_images {
        margin: -50px 20px 0px 0px;
        width: 400px;
        height: 400px;
        border-top: 3px dashed gray;
        border-right: 3px dashed gray;
        border-left: 3px dashed gray;
        border-radius: 50%;
        position: absolute;
        right: 20%;
          }
      .eclipse_images img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -60px;
          }
      .eclipse_images #img_main{
        height: 200px;
        width: 200px;
        margin:-120px 0px 0px -100px;
        overflow:none;
          }
      .eclipse_images img:nth-child(1) {
          transform: rotate(8deg) translateY(-200px);
          }
      .eclipse_images img:nth-child(2) {
         transform: rotate(55deg) translateY(-200px);
          }
      .eclipse_images img:nth-child(3) {
          transform: rotate(100deg) translateY(-200px);
          }
      .eclipse_images img:nth-child(4) {
          transform: rotate(-40deg) translateY(-200px);
          }
      .eclipse_images img:nth-child(5) {
          transform: rotate(-85deg) translateY(-200px);
          }
          .content{
            position:relative;
            width: 80%;
  
          }
          .content #edit>p{
              margin-right: 10px;
              text-align: center;
          }
          .content #edit{
              position:absolute;
              right:-100px;
              top:300px;
              text-align: center;
              font-size: 20PX;
              
          }
          .content #edit>h3{
  color: #faa916;
          }

       .my-content{
        padding: 100px 20px 20px 20px;
          background-color: #EAF3E4;
          margin: 50px 50px 50px 50px;width:80%;
          margin-left:150px;
        height: auto;
                  }
      .my-content>h1{
        text-align: center;
        margin: -90px 0px -70px 0px;
             }
        .my-content>h1>span{
              color:green;
         }
          section {
          display:flex;
          flex-wrap: wrap;
          justify-content: space-around;
        padding: 50px 20px;background-color: #EAF3E4;
              }
       #item {
        background: white;
        border-bottom-right-radius: 50px;
          width: 350px;margin: 50 30px 40px;
          margin-top:50px;
        }
       #burger {
        padding:10px 0px 0px -10px;
        }
      #burger-image {
         margin: 0px 0px 0px -90px;
             position: absolute;
        }
       #burger-image img{
           width:200px;
        height:150px;
        }
       #more{
          text-align: center;line-height: 30px;
        margin: 0px 0px 0px 70px;
        }
          .content3{
            background-color: #C9ECB5;
            margin-top: -50px;
            width: 82%;
            margin-left: 150px;
            height:550px;
        }
        .content3>p{
            text-align: center;
            margin-right: 10px;
        }
        #img1{
            width: 300px;
            height: 380px;
            position: absolute;
            margin-left: -40px;
            margin-top: -100px;
        }
        .texts{
            margin-top:-350px;
            
        }
        .texts>h2{
            color:green;
        }
        .texts>p{
            text-align:left;
            font-size:20px;
            margin-left:780px;
            line-height:20px;

        }
  
        .texts h3{
margin-left:600px;
            text-align:center;
        }
        .texts h4{
            margin-left:600px;

            text-align:center;
        }
        .content3 #img1{

            height:550px;
            margin-top:-110px;
            margin-left:120px;
        }
        .content3 #img2{
          width: 300px;
          height: 280px; 
          position: relative;
          margin-top:140px;
          margin-left:200px;
          
        }
        .content3>h2{
            text-align: center;
            padding-top: -150px;  
        }
        .content3 .texts>h2,p,h3,h4{
            text-align:right;
            margin-right: 200px;
            margin-bottom: 40px;
            
        }
        .content4{
            width: 82%;
            margin-left: 150px;
            background-color: #FFD77C;
            height:300px
        }

        .content4>p{
            text-align:center;
            font-size:20px;
        }
        .content4>h2{
            text-align:center;
            margin-left:-80px;
        }
        input[type=submit]{
            padding:10px;
            color:white;
            border:none;
            width:80px
        }
        #Email,#send{
            border-radius: 30px;
            text-align: center;
        }
        #send{
            background-color: green;
        }
        .content4{
            text-align: center;
          
        }
        .footer{
           
            background-color: #C9ECB5;
            width:82%;
            margin-left: 130px;
            margin-top: 20px;
            height: 350px;
         
        }
        .column1{
            float:left;
            padding:10px 10px 20px 10px;
            
        }
        .column1>p{
            margin-left: -100px;
        }
        .column2{
            position: relative;
            left:85px;
            top:90px;
            font-size: 25px;
           

        }
        .column3{
            font-weight: normal;
            position: relative;
            left:80px;
            font-size: 20px;
            font-weight: normal;
        }
       
        button{
            background-color: green;
            color:white;
            border:none;
            float:right;
            margin-right: 10px;      

        }
        .column4 #icon2{
            float:right;
            right: 150px;
            top: -20px;
margin-top:-50px;      
margin-right: 10px;      
        }
